.car-filter {
    background-color: var(--clr2bg);
    padding: 10px 0;
}

.car-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    align-items: center;
}

.car-filter form input {
    border: 0;
    outline: 0;
    margin-bottom: 0.5rem;
    padding: 7px;
    border-radius: 4px;

}

.car-filter form button {
    background-color: whitesmoke;
    color: var(--clr2);
    margin: 10px 0px;
}

.car-filter form button:hover {
    background-color: var(--clr2);
    color: whitesmoke
}