:root {
  --clr1: #0a53a2;
  --clr2: #ffffff;
  --clr3: #f9f9f9;
  --clr4: #f6f6f6;
  --clr5: #fe939b;
  --clr6: #f5c2d1;

  --clr7: #00d180;
  --clr8: #ff3246;
  --clr9: #e976b9;
  --clr10: #acb2fe;
  --clr11: #f4d636;
  --clr12: black;
  --clr13: #fefefe;
  --clr14: #eefbef;
  --clr15: #05c050;

}